
<aside id="sidebar" class="col-sm-4 col-md-3" data-hook>
<% Spree::Taxonomy.includes(root: :children).each do |taxonomy| %>
<div class="box category">
  <div class="box-heading">
    <%= taxonomy.name %>
  </div>
  <div class="box-content">
    <div class="box-category">
      <ul>
        <% taxonomy.root.children.each do |taxon| %>
        <li class="cat-header "> 
          <%= link_to seo_url(taxon) do %>
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;&nbsp;<%= taxon.name %>
          <% end %>
        </li>
        <% end %>
</ul>
</div>
</div>
</div>
<% end %>
<div id="banner0" class="banner row">
<div class="col-sm-4">
<a href="index.php?route=product/product&amp;product_id=42">
<img src="http://livedemo00.template-help.com/opencart_50870/image/cache/data/banner-aside-270x270.png" alt="banner-1" title="banner-1">
<div class="s-desc"><h1>Free Shipping</h1>
<h2>on orders over $99</h2>
<p>This offer is valid on all our store items. </p></div>
</a>
</div>
</div>

<div class="box info">
	<div class="box-heading">Information</div>
	<div class="box-content">
		
		<ul class="info-list">
				<li><a href="#"><i class="fa fa-angle-right "></i>About</a></li>
				<li><a href="#"><i class="fa fa-angle-right "></i>Delivery</a></li>
				<li><a href="#"><i class="fa fa-angle-right "></i>Privacy Policy</a></li>
				<li><a href="#"><i class="fa fa-angle-right "></i>Terms &amp; Conditions</a></li>
				<li><a href="#"><i class="fa fa-angle-right "></i>Contact Us</a></li>
		<li class="last"><a href="#"><i class="fa fa-angle-right "></i>Site Map</a></li>
		</ul>
	</div>
</div>



<div class="box bestsellers">
  <div class="box-heading">Bestsellers</div>
    <div class="box-content">
      <% @products.where('spree_variants.sale_price is not null').uniq.first(2).each do |product| %> 
      <div class="box-product">
	<ul class="row">
          <li class="first-in-linelast_line col-sm-3">
	    <div class="padding">
		<!-- Product image -->
		<div class="product_image image2">
		  <a href="http://livedemo00.template-help.com/opencart_50870/index.php?route=product/product&amp;product_id=29">
                    <img id="img_29" src="http://livedemo00.template-help.com/opencart_50870/image/cache/data/Natural-Amino1-209x209.png" alt="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim ">
                  </a>
		</div>
	      <div class="inner">
	    <div class="f-left">
	      <!-- Product price -->
	      <div class="product_price price">
                $25.89														
              </div>
   		<!-- product name -->
              <div class="product_name name maxheight-feat">
                <a href="http://livedemo00.template-help.com/opencart_50870/index.php?route=product/product&amp;product_id=29">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                </a>
              </div>
            </div>
	    <!-- Product buttons -->
            <div class="product_button cart-button">
              <div class="cart">
                <a title="Add to Cart" data-id="29;" class="button addToCart">
                  <span>Add to Cart</span>
                </a>
              </div>
              <span class="clear"></span>
	    </div>
            <div class="clear"></div>
            <!-- Product rating -->
            <div class="rating"></div>
          </div>
	   <div class="clear"></div>
	  </div>
        </li>
      </ul>
<ul class='list-group'>

               <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
               <li id='product_<%= product.id %>' class='list-group-item'> 
        
          <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
            <div class='panel-body text-center product-body'>
              <%= link_to small_image(product, itemprop: 'image'), url, itemprop: 'url' %><br/>
              <%= link_to truncate(product.description, length: 50), url, itemprop: 'description', title: product.description %>
              <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: 'name', title: product.name %>
            </div>
            <div class='panel-footer text-center'>
              <span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
                <span class='price selling lead' itemprop='price'><%= display_price(product) %></span>
              </span>
            </div>
          <% end %>
      </li>
      </ul>
    <% end %>
    </div>
  </div>
</div>


</aside>
